* {
    box-sizing: border-box;
}

/*Style for block*/
.common {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 60%;
    height: calc(100vh - 100px);
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: rgba(43, 38, 185, 0.8);
}

h1 {
    color: aliceblue;
}
/*End Style For Block*/
